  <div class="row justify-content-around mb-3">
    <div class = "col-10" >
       <h4><%= @user.name %>さんがフォローしているユーザー一覧</h4>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class = "col-7">
       <table class="table table-border">
          <%= render 'user/relationships/follow', users: @users %>
        </table>
    </div>
   </div>