<div class = "container">
     <div class = "row-12 ">
         <div class = "text-align">
             <h2 class="text-center">throwers</h2>
                 <p class="text-center">日々の練習を記録したり、</p><br>
                 <p class="text-center">他の人に練習メニューを共有したりするサイトです</p><br>
                 <p class="text-center"><%= link_to "新規登録", new_user_registration_path %></p>
                 <p class="text-center"><%= link_to "ログイン", new_user_session_path %></p>
         </div>
     </div>
</div>
