<div class="row justify-content-around mb-4">
  <div class = "col-5 ml-5">
     <h3>throwers</h3>
  </div>
</div>

<div class="row justify-content-around">
  <div class="col-5 ml-5 mb-3">
     <p>日々の練習メニューを記録したり</p><br>
     <p>他の人と練習メニューを共有したり、見ることができるサイトです</p>
  </div>
</div>

<div class="row justify-content-around mb-3">
     <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
</div>

<div class="row justify-content-around mb-3">
     <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
</div>
