   <div class="row justify-content-around mb-3">
    <div class = "col-8" >
       <h4>練習メニュー一覧</h4>
    </div>
   </div>

   <%= render 'posts', posts: @my_posts %>

   <div class="row justify-content-around mb-3">
    <div class = "col-2" >
     <%= paginate (@my_posts) %>
    </div>
   </div>